<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="devDept.Eyeshot" version="2024.1.203" targetFramework="net472" />
  <package id="devDept.Eyeshot.Control.Win" version="2024.1.203" targetFramework="net472" />
  <package id="log4net" version="2.0.15" targetFramework="net472" />
</packages>